* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Inconsolata", monospace;
}
main {
  text-align: center;
  margin-top: 160px;
}
main > section {
  margin-top: 40px;
}
h1 {
  position: relative;
  height: 40px;
  padding-left: 5px;
}
h2,
.description {
  padding: 10px;
}
h3,
h4 {
  margin-bottom: 20px;
  padding-top: 80px;
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}
.hidden {
  display: none;
}
.nav-item {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}
header {
  color: white;
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 5px;
}
address,
nav {
  background-color: black;
}
.hamburger-menu {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 40px;
}
.portfolio {
  margin-bottom: 80px;
}
ul {
  list-style-type: none;
}
li {
  margin-top: 18px;
  line-height: 25px;
}
.tech-used {
  width: 40px;
  height: 40px;
}
.links {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer-picture {
  height: 35px;
}
.screenshot {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.screenshot-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  font-weight: bold;
}
.hamburger {
  display: block;
  height: 3px;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
#hamburger-button {
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  right: 10px;
  top: 5px;
}

address {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  padding: 5px;
}
.github-logo {
  border-radius: 5px;
  background-color: rgb(200, 200, 200);
}
.large-screen-menu {
  display: none;
}
a {
  text-decoration: none;
}
button:hover,
a:hover {
  cursor: pointer;
}
button:hover,
a:hover {
  transform: scale(1.1);
}
h1,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}
.phone-screenshot {
  width: 40%;
  border: 1px solid black;
  margin-bottom: 10px;
}
.phoneContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
}
#portfolio {
  padding-top: 0;
  margin-top: 0;
}
.node-logo {
  width: inherit;
}
#triviaTrackerNavMenu,
#bookmarkUpcoming {
  display: none;
}
#phoneNumber,
#textEmail {
  font-weight: bold;
  color: rgb(237, 66, 36);
  display: block;
}
#contactHeader {
  padding-top: none !important;
  color: mediumseagreen;
}
.description {
  text-align: left !important;
}

#smallAboutDisplay {
  margin-top: 20px;
}
#bio-banner,
.screenshot-title {
  font-size: 25px;
}
li {
  font-size: 20px;
}
.description,
.tech-used-container,
.links {
  font-size: 16px;
}
h3,
h4 {
  font-size: 35px;
}
p {
  line-height: 20px;
}

/*media queries*/
@media screen and (min-width: 768px) {
  #about {
    margin-bottom: 80px;
  }
  #contactSection {
    font-size: 25px;
  }
  .phone-screenshot {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
  }
  #bio-banner,
  .screenshot-title {
    font-size: 30px;
  }
  li {
    font-size: 25px;
  }
  .description,
  .tech-used-container,
  .links {
    font-size: 25px;
  }
  h3,
  h4 {
    font-size: 40px;
  }
  h2 {
    font-size: 34px;
  }
  p {
    line-height: 30px;
  }
  #nav-menu {
    font-size: 25px;
  }
  .screenshot-title {
    margin-top: 80px;
  }
  .footer-picture {
    height: 50px;
  }
}
@media screen and (min-width: 1100px) {
  #largeAboutDisplay {
    display: inline;
  }

  #triviaTrackerNavMenu,
  #bookmarkUpcoming {
    display: block;
  }
  .phone-screenshot {
    width: 20%;
  }
  .phoneContainer {
    justify-content: space-evenly;
  }
  #hamburger-button {
    display: none;
  }
  nav {
    display: flex !important;
    justify-content: flex-end;
    height: 40px;
    font-size: 25px;
  }
  h1 {
    border: none !important;
  }
  header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }
  .screenshot {
    width: 50%;
  }
  .screenshot-title {
    margin-top: 150px;
    font-size: 40px;
  }
  #about,
  #portfolio,
  #contactHeader {
    font-size: 60px;
  }
}

/*color assignments*/
.about-nav,
h3 {
  color: deepskyblue;
}
.portfolio-nav,
h4 {
  color: rgb(237, 66, 36);
}
.contact-nav {
  color: springgreen;
}
#about {
  color: rgb(0, 64, 255);
}

/* Font Sizes */
/* @media screen and (max-width: 767px) {
  #bio-banner,
  .screenshot-title {
    font-size: 25px;
  }
  li {
    font-size: 20px;
  }
  .description,
  #tech-used,
  .links {
    font-size: 16px;
  }
  h3,
  h4 {
    font-size: 35px;
  }
  p {
    line-height: 20px;
  }
} */
